/* ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
 *   Temp ~ kinops
 *     -Used for development
 *     -Move css into appropriate sass files when ready
 *~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ */

.no-sidebar {
  position: absolute;
  top: 48px !important;
  left: 0px;
  right: 0px;
  bottom: 0px;
  overflow: hidden;
}
